In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()
% matplotlib inline

In [2]:
names = ['PERIODO', 'UF', 'MUNICIPIO', 'COD_MUNICIPIO_TSE', 'NR_ZONA', 'SEXO',
         'FAIXA_ETARIA', 'GRAU_ESCOLARIDADE', 'QTE_ELEITORES_PERFIL']

df2012 = pd.read_csv('perfil_eleitorado/perfil_eleitorado_2012.txt',
                  encoding='latin1', sep=';', names=names)

df2012 = df2012[df2012.UF == 'RN'][['MUNICIPIO', 'NR_ZONA', 'SEXO',
                                    'FAIXA_ETARIA', 'GRAU_ESCOLARIDADE',
                                    'QTE_ELEITORES_PERFIL']]

In [48]:
eleitores_df2012 = df2012.groupby('MUNICIPIO')['QTE_ELEITORES_PERFIL'].sum()
eleitores_df2012

MUNICIPIO
ACARI                       9711
AFONSO BEZERRA              9592
ALEXANDRIA                  9754
ALMINO AFONSO               4965
ALTO DO RODRIGUES          10363
ANGICOS                     9391
ANTÔNIO MARTINS             5891
APODI                      28066
AREIA BRANCA               19876
ARÊS                       10200
ASSÚ                       40518
BARAÚNA                    17792
BARCELONA                   4336
BAÍA FORMOSA                7398
BENTO FERNANDES             4564
BOA SAÚDE                   7984
BODÓ                        3012
BOM JESUS                   6854
BREJINHO                    9472
CAICÓ                      44403
CAIÇARA DO NORTE            5154
CAIÇARA DO RIO DO VENTO     3456
CAMPO GRANDE                8279
CAMPO REDONDO               7849
CANGUARETAMA               23818
CARAÚBAS                   16830
CARNAUBAIS                  8933
CARNAÚBA DOS DANTAS         5980
CEARÁ-MIRIM                50034
CERRO CORÁ                  8586
                           ...
SÃO JOSÉ DE MIPIBU         25977
SÃO JOSÉ DO CAMPESTRE      10461
SÃO JOSÉ DO SERIDÓ          3955
SÃO JOÃO DO SABUGI          5351
SÃO MIGUEL                 18839
SÃO MIGUEL DO GOSTOSO       7357
SÃO PAULO DO POTENGI       13693
SÃO PEDRO                   5782
SÃO RAFAEL                  7281
SÃO TOMÉ                    8851
SÃO VICENTE                 5056
SÍTIO NOVO                  5187
TABOLEIRO GRANDE            2376
TAIPU                       9841
TANGARÁ                    12334
TENENTE ANANIAS             8125
TENENTE LAURENTINO CRUZ     4770
TIBAU                       4119
TIBAU DO SUL               10188
TIMBAÚBA DOS BATISTAS       2213
TOUROS                     22944
TRIUNFO POTIGUAR            3920
UMARIZAL                    9220
UPANEMA                    10310
VENHA-VER                   3677
VERA CRUZ                   9186
VILA FLOR                   2532
VIÇOSA                      1691
VÁRZEA                      5341
ÁGUA NOVA                   2527
Name: QTE_ELEITORES_PERFIL, Length: 167, dtype: int64

In [55]:
sexo_df2012 = df2012.groupby('SEXO')['QTE_ELEITORES_PERFIL'].sum()
print(sexo_df2012)

SEXO
FEMININO         1229211
MASCULINO        1124797
NÃO INFORMADO       1531
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [54]:
faixa_etaria_df2012 = df2012.groupby('FAIXA_ETARIA')['QTE_ELEITORES_PERFIL'].sum()
print(faixa_etaria_df2012)

FAIXA_ETARIA
16 ANOS                32352
17 ANOS                44039
18 A 20 ANOS          163406
21 A 24 ANOS          231728
25 A 34 ANOS          573653
35 A 44 ANOS          451050
45 A 59 ANOS          498145
60 A 69 ANOS          190821
70 A 79 ANOS          109162
INVÁLIDA                   1
SUPERIOR A 79 ANOS     61182
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [60]:
grau_esc_df2012 = df2012.groupby('GRAU_ESCOLARIDADE')['QTE_ELEITORES_PERFIL'].sum()
grau_esc_df2012

GRAU_ESCOLARIDADE
ANALFABETO                       197610
ENSINO FUNDAMENTAL COMPLETO      114909
ENSINO FUNDAMENTAL INCOMPLETO    770492
ENSINO MÉDIO COMPLETO            278339
ENSINO MÉDIO INCOMPLETO          417584
LÊ E ESCREVE                     455401
NÃO INFORMADO                      1910
SUPERIOR COMPLETO                 69298
SUPERIOR INCOMPLETO               49996
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [10]:
df2016 = pd.read_csv('perfil_eleitorado/perfil_eleitorado_2016.txt',
                  encoding='latin1', sep=';', names=names)

df2016 = df2016[df2016.UF == 'RN'][['MUNICIPIO', 'NR_ZONA', 'SEXO',
                                    'FAIXA_ETARIA', 'GRAU_ESCOLARIDADE',
                                    'QTE_ELEITORES_PERFIL']]

In [41]:
eleitores_df2016 = df2016.groupby('MUNICIPIO')['QTE_ELEITORES_PERFIL'].sum()
eleitores_df2016

MUNICIPIO
ACARI                       9706
AFONSO BEZERRA              9095
ALEXANDRIA                 10683
ALMINO AFONSO               4833
ALTO DO RODRIGUES          10589
ANGICOS                     9764
ANTÔNIO MARTINS             5972
APODI                      29033
AREIA BRANCA               20157
ARÊS                       11152
ASSÚ                       40798
BARAÚNA                    18621
BARCELONA                   4368
BAÍA FORMOSA                6518
BENTO FERNANDES             4919
BOA SAÚDE                   7781
BODÓ                        3214
BOM JESUS                   7563
BREJINHO                    9337
CAICÓ                      41480
CAIÇARA DO NORTE            5374
CAIÇARA DO RIO DO VENTO     3917
CAMPO GRANDE                8473
CAMPO REDONDO               8168
CANGUARETAMA               22173
CARAÚBAS                   17888
CARNAUBAIS                  8445
CARNAÚBA DOS DANTAS         6026
CEARÁ-MIRIM                47223
CERRO CORÁ                  8771
                           ...
SÃO JOSÉ DE MIPIBU         29140
SÃO JOSÉ DO CAMPESTRE      10640
SÃO JOSÉ DO SERIDÓ          4127
SÃO JOÃO DO SABUGI          5448
SÃO MIGUEL                 19134
SÃO MIGUEL DO GOSTOSO       8015
SÃO PAULO DO POTENGI       13889
SÃO PEDRO                   6258
SÃO RAFAEL                  7580
SÃO TOMÉ                    9182
SÃO VICENTE                 5187
SÍTIO NOVO                  5035
TABOLEIRO GRANDE            2719
TAIPU                      10678
TANGARÁ                    12347
TENENTE ANANIAS             8147
TENENTE LAURENTINO CRUZ     4912
TIBAU                       4597
TIBAU DO SUL                9993
TIMBAÚBA DOS BATISTAS       2447
TOUROS                     25392
TRIUNFO POTIGUAR            4076
UMARIZAL                    9162
UPANEMA                    11025
VENHA-VER                   3993
VERA CRUZ                   9506
VILA FLOR                   2582
VIÇOSA                      1832
VÁRZEA                      5156
ÁGUA NOVA                   2500
Name: QTE_ELEITORES_PERFIL, Length: 167, dtype: int64

In [57]:
sexo_df2016 = df2016.groupby('SEXO')['QTE_ELEITORES_PERFIL'].sum()
sexo_df2016

SEXO
FEMININO         1262413
MASCULINO        1139158
NÃO INFORMADO        300
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [58]:
faixa_etaria_df2016 = df2016.groupby('FAIXA_ETARIA')['QTE_ELEITORES_PERFIL'].sum()
faixa_etaria_df2016

FAIXA_ETARIA
16 ANOS                22578
17 ANOS                33504
18 A 20 ANOS          151272
21 A 24 ANOS          221804
25 A 34 ANOS          557474
35 A 44 ANOS          475860
45 A 59 ANOS          548319
60 A 69 ANOS          216194
70 A 79 ANOS          118534
INVÁLIDA                 121
SUPERIOR A 79 ANOS     56211
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [59]:
grau_esc_df2016 = df2016.groupby('GRAU_ESCOLARIDADE')['QTE_ELEITORES_PERFIL'].sum()
grau_esc_df2016

GRAU_ESCOLARIDADE
ANALFABETO                       176490
ENSINO FUNDAMENTAL COMPLETO      103625
ENSINO FUNDAMENTAL INCOMPLETO    676676
ENSINO MÉDIO COMPLETO            479375
ENSINO MÉDIO INCOMPLETO          340798
LÊ E ESCREVE                     336693
NÃO INFORMADO                       439
SUPERIOR COMPLETO                183339
SUPERIOR INCOMPLETO              104436
Name: QTE_ELEITORES_PERFIL, dtype: int64

In [89]:
eleitores = pd.DataFrame({'2012' : eleitores_df2012, '2016' : eleitores_df2016})
sexo = pd.DataFrame({'2012' : sexo_df2012, '2016' : sexo_df2016})
faixa_etaria = pd.DataFrame({'2012' : faixa_etaria_df2012, '2016' : faixa_etaria_df2016})
escolaridade = pd.DataFrame({'2012' : grau_esc_df2012, '2016' : grau_esc_df2016})